<!DOCTYPE html>
<html lang="el" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Μεταφορές Καρασάββας</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <section id="title">
        <div class="container-fluid">
          <div class="row intro">
             <div class="col-lg-11">
               <h1>Επαναφορά Κωδικού</h1>
            </div>
          </div>
    </section>


<div class="container-fluid" id="main">
    <h3>Εισαγωγή Στοιχείων</h3>
    <p class="flasherror"><%= errorMessage %></p>
    <form action="/reset/<%=token%>" method="POST">
        <div class="form-group">
         <input name="password" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Νέος Κωδικός">
        </div>
        <div class="form-group">
         <input name="password1" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Επιβεβαίωση Κωδικού">
        </div>
     <button type="submit" class="btn btn-primary">Ενημέρωση Κωδικού</button>
    </form>
</div>
</div>
<%- include("footer") %>